{% extends 'main.html' %}

{% block content %}

{% include 'status.html' %}
 
 <br>
 <div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm table-striped">
                <tr>
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                {% for customer in customers %}
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">view</a></td>
                </tr>
                {% endfor %}
            </table>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
           
            <table class="table table-sm table-striped">
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in forders %}
                <tr><td>{{order.id}}</td>
                    <td>{{order.product}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 </div>
{% endblock %} 
