{% extends 'main.html' %}

{% block content %}

<br>
 
<div row>
    <div class="col-md">
        <div class="card card-body">
            <h5>Product</h5>
        </div>
        <div class="card card-body">
            <table class="table table-sm table-striped">
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                {% for i in products %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.price}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

 {% endblock %}